body {
	background-image: url("../img/imagem-fundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.apresentacao {
	margin-bottom: 30px;
}

.caixa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.texto {
	font-size: 22px;
	background-color: #FFFFFF;
	padding: 5px;
	border-radius: 5px;
}

.entrada {
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 5px;
}