body {
	background-image: url("../img/imagem-fundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.apresentacao {
	margin-bottom: 30px;
}

.caixa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.texto {
	font-size: 22px;
	background-color: #FFFFFF;
	padding: 5px;
	border-radius: 5px;
}

.entrada {
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 5px;
	border-style: solid;
	border-color: #D3D3D3;
}

.botao {
	margin-top: 20px;
	width: 17%;
	padding: 15px 10px;
	font-size: 15px;
	font-weight: bolder;
	background-color: #FFFF00;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
}

#lista {
	margin: 0;
	padding: 8px 0;
	text-align: center;
	font-size: 22px;
	list-style: none;
	background-color: #FFFFFF;
	width: 15%;
	border-width: 1px;
	border-radius: 5px;
	border-color: #D3D3D3;
	border-style: solid;
}